body { margin: 0; padding: 0; font-size: 14px; font-family: 'Open Sans', sans-serif; }

ul, ol { padding: 0; margin: 0; list-style: none; }

/*** Fixed Height and Parent div flex ***/
.verticalCenter { display: flex; flex-direction: column; justify-content: center; }

/***********css Animation*********/
h1.h1_ { margin-top: 100px; }

.ex_c { color: red; -webkit-transition: 5s; -ms-transition: 5s; transition: 5s; }

.ex_c:hover { color: green; font-size: 600%; cursor: pointer; position: absolute; }

.footer-bg { background-color: #1D293F; color: #ffffff; padding: 70px 0; }

.footer-bg .contact-us p { color: #ffffff; font-size: 18px; }

.footer-bg .contact-us ul li { padding-top: 10px; font-size: 14px; -webkit-transition: 0.75s ease; -o-transition: 0.75s ease; transition: 0.75s ease; }

.footer-bg .contact-us ul li:hover { padding-left: 10px; }

.footer-bg .contact-us ul li i { padding-right: 10px; }

.footer-bg .footer-list p { color: #ffffff; font-size: 16px; padding-top: 10px; }

.footer-bg .footer-list ul li { padding-top: 10px; font-size: 14px; -webkit-transition: 0.75s ease; -o-transition: 0.75s ease; transition: 0.75s ease; }

.footer-bg .footer-list ul li:hover { padding-left: 10px; }

.footer-bg .footer-list .spam-text { font-size: 14px; }

.footer-bg .footer-list .submit-btn { position: relative; }

.footer-bg .footer-list .submit-btn .email-input { position: relative; border: none; padding: 12px 0 12px 15px; border-radius: 8px; background-color: #ffffff; max-width: 270px; width: 100%; }

.footer-bg .footer-list .submit-btn .subscribe-btn { position: absolute; padding: 8px 12px; border-radius: 5px; background-color: #234DD4; color: #ffffff; border: none; left: 186px; margin-top: 5px; font-size: 12px; }

@media all and (max-width: 991px) { .footer-bg .footer-list .submit-btn .subscribe-btn { left: 129px; } }

@media all and (max-width: 767px) { .footer-bg .footer-list .submit-btn .subscribe-btn { left: 158px; } }

@media all and (max-width: 575px) { .footer-bg .footer-list .submit-btn .subscribe-btn { left: 186px; } }

@media all and (max-width: 991px) { .footer-bg .company { margin-bottom: 30px; }
  .footer-bg .contact-us { margin-bottom: 30px; } }

@media all and (max-width: 767px) { .footer-bg .Discover { margin-bottom: 30px; } }

.footer-bottom { background-color: #1D293F; color: #ffffff; border-top: 1px solid #2D374B; padding: 20px 0; }

.footer-bottom .social-icon { text-align: right; }

.footer-bottom .social-icon ul li { display: inline-block; }

.footer-bottom .social-icon ul li i { color: #ffffff; padding-right: 15px; }

.footer-bottom .social-icon ul li i:hover { color: #234DD4; }

header { width: 100%; position: fixed; z-index: 11; }

header .navbar { background-color: transparent !important; }

header .navbar .navbar-toggler { color: #ffffff; }

@media all and (max-width: 991px) { header .navbar .navbar-toggler { padding: 0.25rem 0.75rem; font-size: 1.25rem; line-height: 0 !important; background-color: transparent !important; border: none !important; border-radius: 0 !important; transition: 0 !important; align-items: center; } }

header .navbar .navbar-toggler:focus { text-decoration: none; outline: 0; box-shadow: none !important; }

header .navbar .navbar-brand { font-weight: 600; font-size: 25px; color: #ffffff; padding: 0 10px; }

header .navbar .search-box { position: relative; }

@media all and (max-width: 991px) { header .navbar .search-box { display: none; } }

header .navbar .search-box ::placeholder { color: #ffffff; }

header .navbar .search-box .form-control { position: relative; background-color: transparent !important; border: none !important; color: #ffffff !important; font-size: 14px !important; min-width: 220px !important; }

header .navbar .search-box .form-control-feedback { position: absolute; z-index: 2; display: block; width: 38px; height: 38px; line-height: 38px; text-align: center; pointer-events: none; color: #ffffff; right: 0px; }

header .navbar .navbar-nav { margin-left: auto !important; }

@media all and (max-width: 991px) { header .navbar .navbar-nav { margin-top: 20px !important; padding: 10px 0; background: #171a21; } }

header .navbar .navbar-nav li { -webkit-transition: 0.75s ease; -o-transition: 0.75s ease; transition: 0.75s ease; }

@media all and (max-width: 991px) { header .navbar .navbar-nav li { width: 100%; min-height: 1px; padding: 0 15px; }
  header .navbar .navbar-nav li.scrolled { background: #171a21 !important; -webkit-transition: 0.75s ease; -o-transition: 0.75s ease; transition: 0.75s ease; } }

header .navbar .navbar-nav li a { color: #ffffff; padding-right: 10px; }

@media all and (max-width: 991px) { header .navbar .navbar-nav li a { padding: 10px; border-radius: 10px; } }

header .navbar .navbar-nav li a:hover { color: #234DD4; }

@media all and (max-width: 991px) { header .navbar .navbar-nav li a:hover { background-color: #234DD4; color: #ffffff; -webkit-transition: 0.75s ease; -o-transition: 0.75s ease; transition: 0.75s ease; } }

header .navbar .navbar-nav li .nav-item { font-weight: 600; padding-left: 10px; }

header .navbar .navbar-nav li .nav-item .nav-link:hover { color: #000; }

header .navbar .navbar-nav li .nav-item a i { margin-right: 5px; }

header .navbar .navbar-nav li .dropdown { position: absolute; top: 120%; z-index: 9999; }

@media all and (max-width: 991px) { header .navbar .navbar-nav li .dropdown { display: none; } }

header .navbar .navbar-nav li .dropdown li { background-color: #234DD4; list-style-type: none; position: relative; text-align: left; padding: 8px 0 8px 18px; width: 200px; left: -152px; visibility: hidden; -webkit-transition: 0.75s ease; -o-transition: 0.75s ease; transition: 0.75s ease; }

header .navbar .navbar-nav li .dropdown li a { text-decoration: none; color: #ffffff; }

header .navbar .navbar-nav li .dropdown li a:hover { color: #000; -webkit-transition: 0.75s ease; -o-transition: 0.75s ease; transition: 0.75s ease; }

header .navbar .navbar-nav li:hover .dropdown li { visibility: visible; -webkit-transition: 0.75s ease; -o-transition: 0.75s ease; transition: 0.75s ease; }

header .navbar .navbar-nav li .listing-btn { background-color: #ffffff; padding: 8px 20px; color: #000; font-size: 14px; margin-left: 20px; }

@media all and (max-width: 991px) { header .navbar .navbar-nav li .listing-btn { display: none; } }

header .navbar .navbar-nav li .listing-btn i { margin-right: 5px; font-size: 12px; }

header .navbar .navbar-nav li .listing-btn.scrolled { background-color: #234DD4; color: #ffffff; }

.banner-img { position: relative; background-image: url("../img/banner-img.jpg"); background-size: cover; height: 100vh; z-index: -1; }

@media all and (max-width: 991px) { .banner-img { height: 80vh; } }

@media all and (max-width: 575px) { .banner-img { height: 75vh; } }

.banner-img::before { content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100vh; background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)); }

@media all and (max-width: 991px) { .banner-img::before { height: 80vh; } }

@media all and (max-width: 575px) { .banner-img::before { height: 75vh; } }

.banner-img .banner-img-content { z-index: 1; padding: 0 30px; }

.banner-img .banner-img-content h1 { color: #ffffff; font-weight: 600; font-size: 40px; line-height: 35px; }

@media all and (max-width: 767px) { .banner-img .banner-img-content h1 { font-size: 25px; line-height: 40px; } }

.banner-img .banner-img-content p { color: #ffffff; font-weight: 400; font-size: 14px; line-height: 60px; }

@media all and (max-width: 767px) { .banner-img .banner-img-content p { line-height: 25px; } }

.banner-img .banner-img-content .middle-search-box { display: flex; background: #ffffff; padding: 5px 15px; border-radius: 40px 40px; margin: 0 10px; position: relative; }

.banner-img .banner-img-content .middle-search-box label { margin-top: 12px; font-size: 16px; font-weight: 400; padding: 0 10px 0 20px; }

.banner-img .banner-img-content .middle-search-box .where-label { margin-left: 5px; }

.banner-img .banner-img-content .middle-search-box .where-label::before { content: ' '; position: absolute; background: #efefef; height: 40px; width: 1px; top: 10px; right: 335px; margin-right: 5px; }

.banner-img .banner-img-content .middle-search-box input { background-color: transparent; border: none; }

.banner-img .banner-img-content .middle-search-box .where-input { max-width: 200px; }

.banner-img .banner-img-content .middle-search-box span { color: #ffffff; padding: 15px; background: #234DD4; border-radius: 50%; font-size: 18px; }

.banner-img .banner-img-content .middle-search-box ::placeholder { color: #A1A1A1; }

.banner-img .banner-img-content .middle-search-box .what-input { position: relative; }

.banner-img .banner-img-content .responsive-search-area { display: none; }

.banner-img .banner-img-content .responsive-search-area .responsive-search-box { background: #ffffff; padding: 5px 15px; margin: 15px 0; border-radius: 40px 40px; display: flex; position: relative; }

.banner-img .banner-img-content .responsive-search-area .responsive-search-box label { font-size: 16px; font-weight: 400; padding: 8px 10px 0 20px; }

.banner-img .banner-img-content .responsive-search-area .responsive-search-box input { position: relative; border: none; }

.banner-img .banner-img-content .responsive-search-area .responsive-search-box span { color: #ffffff; padding: 10px; background: #234DD4; border-radius: 50%; font-size: 18px; }

.banner-img .banner-img-content .responsive-search-area .responsive-search-box ::placeholder { color: #A1A1A1; }

.banner-img .banner-img-content .responsive-search-area .responsive-search-box .what-input-two { position: relative; }

@media all and (max-width: 575px) { .banner-img .banner-img-content .responsive-search-area { display: block; }
  .banner-img .banner-img-content .middle-search-box { display: none; } }

header.scrolled { background: #171a21 !important; padding: 10px 0; -webkit-transition: 0.75s ease; -o-transition: 0.75s ease; transition: 0.75s ease; }

.owl-carousel .owl-dots { text-align: center; padding-top: 10px; }

.owl-carousel .owl-dots .owl-dot { background-color: #A1A1A1 !important; opacity: 0.7; display: inline-block; height: 10px; margin: 0 3px; width: 10px; border-radius: 100%; outline: 0; }

.owl-carousel .owl-dots .owl-dot.active { background-color: #000 !important; height: 8px; width: 20px; border-radius: 20px; }

.owl-carousel .owl-dots .owl-dot .owl-dots { text-align: center !important; margin-top: 30px; }

.container-bg { margin-top: -60px; background: #ffffff; border-radius: 10px 10px 0 0; }

@media all and (max-width: 575px) { .container-bg { margin-top: 20px; border-radius: none; } }

.services { padding: 20px; }

.services .service-item { background: #F4F4F4; border-radius: 8px; text-align: center; width: 200px; max-width: 100%; margin: 10px; }

@media all and (max-width: 575px) { .services .service-item { display: block; margin: 15px auto; } }

.services .service-item i { padding-top: 50px; color: #234DD4; }

.services .service-item p { padding: 15px 0 15px 0; color: #000; }

.services .service-item:hover, .services .service-item:hover i, .services .service-item:hover p { background: #234DD4; border-radius: 8px; color: #ffffff; }

.popular-things h3 { text-align: center; font-size: 25px; font-weight: 600; color: #000; line-height: 20px; padding: 50px 0 10px 0; }

.popular-things p { text-align: center; font-size: 14px; font-weight: 400; color: #A1A1A1; padding-bottom: 30px; }

.popular-things .popular-things-items { position: relative; overflow: hidden; border: 2px solid #EEEEFE; border-radius: 10px; }

.popular-things .popular-things-items .popular-things-image { position: relative; overflow: hidden; }

.popular-things .popular-things-items .popular-things-image img { display: block; padding: 8px; border-radius: 20px; opacity: 0.8; }

.popular-things .popular-things-items .popular-things-tag { position: absolute; top: 30px; left: 25px; }

.popular-things .popular-things-items .popular-things-tag .open { text-decoration: none; color: #ffffff; padding: 8px 14px; border: 1px solid #ffffff; border-radius: 10px; margin-right: 8px; }

.popular-things .popular-things-items .featured { text-decoration: none; color: #ffffff; padding: 8px 14px; background: #ED4949; border-radius: 8px; font-size: 14px; position: absolute; right: 25px; top: 22px; }

.popular-things .popular-things-items .rieviews { display: flex; position: absolute; bottom: -25px; left: 20px; }

.popular-things .popular-things-items .rieviews i { margin-right: 5px; color: #ffffff; font-size: 14px; }

.popular-things .popular-things-items .rieviews p { margin-left: 5px; color: #ffffff; font-size: 14px; }

.popular-things .popular-things-items .popular-things-content { padding: 20px; position: relative; }

.popular-things .popular-things-items .popular-things-content .site-icons { position: absolute; top: -35px; right: 30px; background: #000; border-radius: 50%; height: 50px; width: 50px; text-align: center; padding-top: 12px; color: #ffffff; border: 2px solid #ffffff; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; }

.popular-things .popular-things-items .popular-things-content .popular-things-heading h4 a { font-size: 18px; color: #000; font-weight: 700; text-decoration: none; }

@media all and (max-width: 1199px) { .popular-things .popular-things-items .popular-things-content .popular-things-heading h4 a { font-size: 16px; } }

.popular-things .popular-things-items .popular-things-content .pera-text { color: #A1A1A1; font-size: 14px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: left; padding-bottom: 0; }

.popular-things .popular-things-items .popular-things-content .phone-address { display: flex; }

.popular-things .popular-things-items .popular-things-content .phone-address p { color: #000; padding-bottom: 0; }

.popular-things .popular-things-items .popular-things-content .phone-address p i { margin-right: 10px; color: #A1A1A1; }

.popular-things .popular-things-items .popular-things-content .phone-address p .location-icon { margin-left: 25px; }

.popular-things .popular-things-items .popular-things-footer { border-top: 2px solid #EEEEFE; display: block; padding: 0 20px; }

.popular-things .popular-things-items .popular-things-footer p { color: #000; margin-top: 20px; padding-bottom: 0; text-align: left; float: left; }

.popular-things .popular-things-items .popular-things-footer p i { background: #DD9934; height: 30px; width: 30px; border-radius: 50%; padding-top: 7px; margin-right: 5px; color: #ffffff; text-align: center; }

.popular-things .popular-things-items .popular-things-footer .activities-icon-one { float: right; color: #A1A1A1; margin-top: 30px; font-size: 16px; }

.popular-things .popular-things-items .popular-things-footer .activities-icon-two { float: right; color: #A1A1A1; height: 30px; width: 30px; border-radius: 50%; background: #EEEEFE; margin: 20px 0 0 25px; padding: 8px; font-size: 16px; }

.trending-cities h3 { text-align: center; font-size: 25px; font-weight: 600; color: #000; line-height: 20px; padding: 70px 0 10px 0; }

.trending-cities p { text-align: center; font-size: 14px; font-weight: 400; color: #A1A1A1; padding-bottom: 30px; }

.trending-cities .trending-cities-img .miami-img-one { position: relative; }

@media all and (max-width: 767px) { .trending-cities .trending-cities-img .miami-img-one { margin-bottom: 20px; } }

.trending-cities .trending-cities-img .miami-img-one img { display: block; width: 100%; height: 275px; border-radius: 8px; transition: transform .5s ease; }

.trending-cities .trending-cities-img .miami-img-one img:hover { transform: scale(1.5); }

.trending-cities .trending-cities-img .miami-img-one::after { content: ''; position: absolute; left: 0; top: 0; height: 100%; width: 100%; background-image: linear-gradient(60deg, #000000 0%, #171a21 100%); opacity: .6; border-radius: 8px; }

.trending-cities .trending-cities-img .miami-img-one .miami-content { position: absolute; z-index: 999; top: 75%; left: 45%; }

.trending-cities .trending-cities-img .miami-img-one .miami-content h4 { color: #ffffff; font-size: 18px; text-align: center; }

.trending-cities .trending-cities-img .miami-img-one .miami-content p { color: #ffffff; font-size: 14px; text-align: center; }

.trending-cities .trending-cities-img .miami-img-two { position: relative; }

.trending-cities .trending-cities-img .miami-img-two img { display: block; width: 100%; height: 275px; border-radius: 8px; }

.trending-cities .trending-cities-img .miami-img-two::after { content: ''; position: absolute; left: 0; top: 0; height: 100%; width: 100%; background-image: linear-gradient(60deg, #000000 0%, #171a21 100%); opacity: .6; border-radius: 8px; }

@media all and (max-width: 767px) { .trending-cities .trending-cities-img .responsive-pdng { margin-bottom: 20px; } }

.trending-cities .trending-cities-img .miami-content { position: absolute; z-index: 999; top: 75%; left: 40%; }

.trending-cities .trending-cities-img .miami-content h4 { color: #ffffff; font-size: 18px; text-align: center; }

.trending-cities .trending-cities-img .miami-content p { color: #ffffff; font-size: 14px; text-align: center; }

.how-it-work-section { margin-top: 70px; padding: 50px 20px; background-color: #F4F4F4; }

.how-it-work-section h3 { text-align: center; font-size: 25px; font-weight: 600; color: #000; line-height: 31px; padding-bottom: 10px; }

.how-it-work-section p { text-align: center; font-size: 14px; font-weight: 400; color: #A1A1A1; padding-bottom: 30px; }

.how-it-work-section .single-features { text-align: center; -webkit-box-shadow: -6px 10px 40px rgba(234, 229, 244, 0.7); box-shadow: -6px 10px 40px rgba(234, 229, 244, 0.7); text-align: center; padding: 40px 20px; -webkit-transition: 0.5s; -o-transition: 0.5s; transition: 0.5s; background-color: #fff; position: relative; overflow: hidden; margin-bottom: 30px; border-radius: 10px; }

.how-it-work-section .single-features i { height: 120px; width: 120px; background: #F4F4F4; border-radius: 50%; font-size: 30px; color: #234DD4; line-height: 120px; margin-bottom: 30px; transition: all 0.3s ease; }

.how-it-work-section .single-features i:hover { background: #234DD4; color: #ffffff; }

.how-it-work-section .single-features h4 { color: #000; font-size: 19px; font-weight: 700; margin-bottom: 15px; }

.how-it-work-section .single-features p { font-size: 15.5px; line-height: 27px; padding-bottom: 0; }

.client-testimonial h3 { text-align: center; font-size: 25px; font-weight: 600; color: #000; line-height: 31px; padding: 50px 0 10px 0; }

.client-testimonial p { text-align: center; font-size: 14px; font-weight: 400; color: #A1A1A1; padding-bottom: 30px; }

.client-testimonial .single-testimonial { -webkit-box-shadow: 0 0 15px #ededed; box-shadow: 0 0 15px #ededed; text-align: center; padding: 30px; margin: 15px; -webkit-transition: 0.5s; -o-transition: 0.5s; transition: 0.5s; background-color: #F4F4F4; }

.client-testimonial .client-img img { width: 130px !important; height: 130px; margin: auto; margin-top: 5px; border-radius: 50%; border: 3px solid transparent; -webkit-transition: 0.5s; -o-transition: 0.5s; transition: 0.5s; }

.client-testimonial .testimonial-content h5 { margin-top: 15px; text-transform: uppercase; font-weight: 700; font-size: 16px; }

.client-testimonial .testimonial-content p { font-size: 14px; line-height: 26px; margin-bottom: 0; color: #A1A1A1; }

.client-testimonial .testimonial h6 { font-size: 16px; margin-top: -5px; color: #234DD4; }

.resturant-img { margin-top: 70px; height: 80vh; position: relative; background-image: url("../img/resturant-img.png"); background-attachment: fixed; background-repeat: no-repeat; background-position: center center; background-size: cover; z-index: -1; }

@media all and (max-width: 767px) { .resturant-img { height: 60vh; } }

.resturant-img::before { content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 80vh; background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)); }

@media all and (max-width: 767px) { .resturant-img::before { height: 60vh; } }

.resturant-img .resturant-img-content { max-width: 650px; z-index: 1; }

@media all and (max-width: 767px) { .resturant-img .resturant-img-content { padding: 0 30px; } }

.resturant-img .resturant-img-content h2 { color: #ffffff; font-weight: 400; font-size: 40px; line-height: 35px; padding-bottom: 20px; }

@media all and (max-width: 767px) { .resturant-img .resturant-img-content h2 { font-size: 30px; } }

.resturant-img .resturant-img-content h3 { color: #ffffff; font-weight: 400; font-size: 14px; line-height: 31px; padding-bottom: 20px; }

.resturant-img .resturant-img-content .works-btn { background-color: #ffffff; padding: 12px 30px; color: #234DD4; font-size: 14px; border-radius: 8px; font-weight: 600; text-decoration: none; }

.resturant-img .resturant-img-content .works-btn:hover { background-color: #234DD4; padding: 12px 30px; color: #ffffff; }

.news-tips h3 { text-align: center; font-size: 25px; font-weight: 600; color: #000; line-height: 20px; padding: 70px 0 10px 0; }

.news-tips p { text-align: center; font-size: 14px; font-weight: 400; color: #A1A1A1; padding-bottom: 30px; }

.news-tips .news-tips-items { overflow: hidden; border: 2px solid #EEEEFE; border-radius: 10px; }

@media all and (max-width: 767px) { .news-tips .news-tips-items { margin-bottom: 20px; } }

.news-tips .news-tips-items .news-tips-image { position: relative; }

.news-tips .news-tips-items .news-tips-image img { display: block; width: 100%; padding: 8px; border-radius: 20px; }

.news-tips .news-tips-items .news-tips-image .news-tips-tag { position: absolute; top: 40px; left: 25px; }

@media all and (max-width: 991px) { .news-tips .news-tips-items .news-tips-image .news-tips-tag { left: 20px; } }

.news-tips .news-tips-items .news-tips-image .news-tips-tag .featured { text-decoration: none; color: #ffffff; padding: 8px 18px; background: #234DD4; border-radius: 20px; margin-right: 8px; }

.news-tips .news-tips-items .news-tips-content .news-tips-heading h4 { font-size: 18px; color: #000; font-weight: 400; text-decoration: none; padding-left: 20px; line-height: 31px; }

@media all and (max-width: 991px) { .news-tips .news-tips-items .news-tips-content .news-tips-heading h4 { font-size: 14px; padding-left: 8px; } }

.news-tips .news-tips-items .news-tips-content .phone-address { display: flex; padding-left: 20px; padding-top: 10px; }

@media all and (max-width: 991px) { .news-tips .news-tips-items .news-tips-content .phone-address { padding-left: 8px; } }

.news-tips .news-tips-items .news-tips-content .phone-address p { color: #A1A1A1; padding-bottom: 0; margin-bottom: 5px; font-size: 14px; }

@media all and (max-width: 991px) { .news-tips .news-tips-items .news-tips-content .phone-address p { font-size: 11px; } }

.news-tips .news-tips-items .news-tips-content .phone-address p i { margin-right: 10px; color: #A1A1A1; }

.news-tips .news-tips-items .news-tips-content .phone-address p .calender-icon { margin-left: 25px; }

@media all and (max-width: 991px) { .news-tips .news-tips-items .news-tips-content .phone-address p .calender-icon { margin-left: 15px; } }

.call-to-action { margin-top: 70px; position: relative; background-image: url("../img/callto-action.jpg"); background-size: cover; padding: 50px 0 35px 0; }

@media all and (max-width: 767px) { .call-to-action .property-text { text-align: center; } }

.call-to-action .property-text h4 { color: #ffffff; font-size: 20px; }

.call-to-action .property-text p { color: #ffffff; font-size: 14px; }

.call-to-action .submit-btn { background-color: #ffffff; padding: 12px 30px; color: #234DD4; font-size: 14px; border-radius: 8px; font-weight: 600; border: none; -webkit-transition: 0.75s ease; -o-transition: 0.75s ease; transition: 0.75s ease; }

.call-to-action .submit-btn:hover { background-color: #234DD4; color: #ffffff; }

.call-to-action .action-btn { text-align: right; }

@media all and (max-width: 767px) { .call-to-action .action-btn { text-align: center; } }

/*# sourceMappingURL=main.css.map */