.container-bg{
    margin-top: -60px;
    background: $white;
    border-radius: 10px 10px 0 0;
}

.services{
    display: flex;
    flex-wrap: nowrap;
    padding: 20px;
    .service-item{
        background: $white-smoke;
        border-radius: 8px;
        text-align: center;
        width: 200px;
        margin: 10px;
        i{
            padding-top: 50px;
            color: $brand-color;
        }
        p{
            padding: 15px 0 15px 0;
            color: $black;
        }
        &:hover, &:hover i, &:hover p{
            background: $brand-color;
            color: $white;
        }
    }
}