.owl-carousel {
  .owl-dots {
    text-align: center;
    padding-top: 10px;

    .owl-dot {
      background-color: $light-gray!important;
      opacity: 0.7;
      display: inline-block;
      height: 10px;
      margin: 0 3px;
      width: 10px;
      border-radius: 100%;
      outline: 0;

      &.active {
        background-color: $black !important;
        height: 8px;
        width: 20px;
        border-radius: 20px;
      }

      .owl-dots {
        text-align: center !important;
        margin-top: 30px;
      }
    }
  }
}