.footer-bg{
    background-color: #1D293F;
    color: $white;
    padding: 70px 0;
    .contact-us{
        p{
            color: $white;
            font-size: 18px;
        }
        ul{
            li{
                padding-top: 10px;
                font-size: 14px;
                @include transition(0.75s ease);
                &:hover{
                    padding-left: 10px;
                }
                i{
                    padding-right: 10px;
                }
            }
        }
    }
    .footer-list{
         p{
            color: $white;
            font-size: 16px;
            padding-top: 10px;
        }
        ul{
            li{
                padding-top: 10px;
                font-size: 14px;
                @include transition(0.75s ease);
                &:hover{
                    padding-left: 10px;
                }
            }
        }
        .spam-text{
            font-size: 14px;
        }
        .submit-btn{
            position: relative;
            .email-input{
                position: relative;
                border: none;
                padding: 12px 0 12px 15px;
                border-radius: 8px;
                background-color: $white;
                max-width: 270px;
                width: 100%;
            }
            .subscribe-btn{
                @include media('md') {
                   left: 129px;
                }
                 @include media('sm') {
                   left: 158px;
                }
                @include media('xs') {
                   left: 186px;
                }
                position: absolute;
                padding: 8px 12px;
                border-radius: 5px;
                background-color: $brand-color;
                color: $white;
                border: none;
                left: 186px;
                margin-top: 5px;
                font-size: 12px;
            }
        }
        

    }
    @include media('md') {
        .company{
            margin-bottom: 30px;
        }
        .contact-us{
            margin-bottom: 30px;
        }   
                         
    }
    @include media('sm') {
        .Discover{
            margin-bottom: 30px;
        }

    }
    
    
    
}
.footer-bottom{
    background-color: #1D293F;
    color: $white;
    border-top: 1px solid #2D374B;
    padding: 20px 0;
    .social-icon{
        text-align: right;
        ul{
            li{
                
                display: inline-block;
                i{
                    
                    color: $white;
                    padding-right: 15px;
                    &:hover{
                        color: $brand-color;
                    }
                }

            }
        }
    }
}